{{ define "root" }}
<html>
  <head>
    <title>HPC Firewall</title>
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script>
      function refresh() {
        $('span.endpoint').each(function(i, obj) {
          if ($(obj).data('failures') < 3) {
            $.ajax({
              url: $(obj).data('url'), 
              data: {},
              dataType: 'json',
              success: function(data) {
                if (data.needs_refresh) {
                  location.reload();
                  return;
                }

                $(obj).html(JSON.stringify(data));
                $(obj).data('failures', 0);
              },
              error: function() {
                $(obj).html('failed');
                $(obj).data('failures', $(obj).data('failures') + 1);
              },
              xhrFields: {
                withCredentials: true
              }
            });
          }
        });
      }
      $(document).ready(function() {
        $('span.endpoint').each(function(i, obj) {
          $(obj).data('failures', 0);
        });
        refresh();
        setInterval(refresh, 90000);
      });
    </script>
  </head>
  <body>
    Logged on successfully.

    <pre>
      {{ .Info }}
    </pre>
    
    {{ range .Endpoints }}
    <span class="endpoint" data-url="{{ . }}">Loading...</span> 
    {{ end }}
  </body>
</html>
{{ end }}
