{{ define "root" }}
<html>
  <head>
    <title>HPC Firewall</title>

    <link rel="stylesheet" href="/static/django.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/overwrites.css">
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700,300|Open+Sans:400i,600i,700i,300,400,700,600" rel="stylesheet">

    <script src="/static/jquery-3.5.1.min.js"></script>
    <script>
      function refreshlist(obj) {
        $.ajax({
          url: $(obj).data('url'), 
          data: {
            index: $(obj).data('index'),
          },
          dataType: 'json',
          success: function(data) {
            if (data.session_expired) {
              location.reload();
              return;
            }

            var html = "";
            for(var i = 0; i < data.records.length; i++) {
              var record = data.records[i];
              html += "<div class=\"ip\" data-lifetime=\"" + record.lifetime + "\"><strong>" + record.ip + "</strong> " + record.message + "</div>\n";
            }

            $(obj).html(html);
            $(obj).data('index', data.last_index);
            refreshlist(obj);
          },
          error: function() {
            location.reload();
          },
          xhrFields: {
            withCredentials: true
          }
        });
      }
      function ticker() {
        $('div.list div.ip').each(function(i, obj) {
          var lifetime = $(obj).data('lifetime') - 1;
          if (lifetime >= 0) {
            $(obj).data('lifetime', lifetime);
          } else {
            $(obj).remove();
          }
        });
      }
      function renew() {
        var failureCount = 0;
        $('div.endpoint').each(function(i, obj) {
          if ($(obj).data('failures') < 3) {
            $.ajax({
              url: $(obj).data('url'), 
              data: {},
              dataType: 'json',
              success: function(data) {
                if (data.session_expired) {
                  location.reload();
                  return;
                }

                $(obj).html("<strong>" + data.ip + "</strong> " + data.message);
                $(obj).data('failures', 0);
              },
              error: function() {
                $(obj).html('');
                $(obj).data('failures', $(obj).data('failures') + 1);
              },
              xhrFields: {
                withCredentials: true
              }
            });
          } else {
            failureCount++;
          }
        });
        if (failureCount > 1) {
          location.reload();
        }
      }
      $(document).ready(function() {
        renew();
        setInterval(renew, 90000);

        $('div.list').each(function(i, obj) {
          refreshlist(obj);
        });
        setInterval(ticker, 1000);
      });
    </script>
  </head>
  <body class="page-home">
    <div class="page-wrap">

      <header class="region page-header" role="banner">

        <div class="section section--sml" style="border-bottom: 1px solid #e8e8e8">
          <div class="container">
            <div class="grid" id="section-header-0">
  
              <div class="grid__12 grid--bp-med__12" id="block-0-1">
                <a href="/" class="page-header__logo" title="account.vscentrum.be">
                  <img src="/static/logo.png" data-url="/static/logo.png" alt="Logo" />
                </a>
              </div>
  
            </div>
          </div>
        </div>
      </header>
  
      <div class="region page-main" role="main">
        <div class="section section--border-thick">
          <div class="container">
            <div class="grid" id="section-content-0">
              <div class="grid__12 grid--bp-med__12" id="content-core">
  
                <h1>HPC Firewall</h1>

                <p>Logged on successfully as {{ .ID }}.</p>

                <div class="list" data-url="{{ .ListURL }}" data-index="0"></div>

                {{ range .AddURLSubdomains }}
                <div class="endpoint" data-url="{{ . }}" data-failures="0" style="display: none"></div> 
                {{ end }}
                
                <p>This page will automatically refresh to extend the access period. Keep this page open while new connections are needed.</p>
  
                <p class="comment">
                  To add an ip of a remote server, run (and repeat regularly as needed)
                  <pre>
BEARER={{ .Bearer }}
curl -4 --header "Authorization: $BEARER" {{ .AddURL }}
curl -6 --header "Authorization: $BEARER" {{ .AddURL }} || echo IPv6 is not supported on this host</pre>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <footer class="region page-footer" role="contentinfo">
        <div class="section section--sml">
          <div class="container">
            <div class="grid" id="section-footer-1">
              <div class="grid__12" id="block-1-1">
                <div class="text widget block " id="widget-305">
                  <div class="text__inner clearfix">
                    <p>© FWO</p>
                  </div>
                </div>
                <nav class="nav nav--inline " id="widget-306" role="navigation">
                  <ul class="menu1 ">
                    <li class="first even">
                      <a href="https://vscentrum.be/" class="nav__link nav__link--vscentrumbe1">VScentrum.be</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </footer>
  
    </div> <!-- /.page-wrap -->

  </body>
</html>
{{ end }}
