{{ define "root" }}
<html>
  <head>
    <title>HPC Firewall</title>
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script>
      function refresh() {
        $('div.endpoint').each(function(i, obj) {
          if ($(obj).data('failures') < 3) {
            $.ajax({
              url: $(obj).data('url'), 
              data: {},
              dataType: 'json',
              success: function(data) {
                if (data.needs_refresh) {
                  location.reload();
                  return;
                }

                $(obj).html("<strong>" + data.ip + "</strong> " + data.message);
                $(obj).data('failures', 0);
              },
              error: function() {
                $(obj).html('');
                $(obj).data('failures', $(obj).data('failures') + 1);
              },
              xhrFields: {
                withCredentials: true
              }
            });
          }
        });
      }
      $(document).ready(function() {
        $('div.endpoint').each(function(i, obj) {
          $(obj).data('failures', 0);
        });
        refresh();
        setInterval(refresh, 90000);
      });
    </script>
  </head>
  <body>
    <h1>HPC Firewall</h1>

    <p>Logged on successfully.</p>

    {{ range .Endpoints }}
    <div class="endpoint" data-url="{{ . }}"></div> 
    {{ end }}

    <p>User information:</p>
    <pre>
      {{ .Info }}
    </pre>
    
    <p>Keep this page open.</p>
  </body>
</html>
{{ end }}
